.selector {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 10px;
}

.selector img {
    height: 100%;
    cursor: pointer;
    margin: 0 5px;
}
