.game-field {
    display: grid;
    height: 100%;
    width: 100vw;
    grid-template-rows: 2.5rem auto 10%;
}

/* Support screen orientation change */
@media screen and (orientation: portrait) {
    .game-field {
        transform: rotate(90deg);
        transform-origin: top left;
        position: absolute;
        left: 100vw;
        height: 100vw;
        width: 100vh;
    }
}

@media only screen and (min-height: 500px) {
    .game-field {
        grid-template-rows: 3rem auto 10%;
    }
}

@media screen and (orientation: portrait) {
    .game-field {
        grid-template-rows: 10% auto 10%;
    }
}

.field {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5% 2.5%;
    margin: 2% 2rem;
    justify-items: center;
}

.word {
    background-color: #e3e0e0;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5rem;
}

/*.opened {*/
/*    transition: transform 2s;*/
/*    transform: rotateX(180deg);*/
/*    transform-style: preserve-3d;*/
/*    perspective: 1000px;*/
/*}*/

/* Reduce font size for smaller screens */
@media only screen and (orientation: landscape) and (max-height: 500px) {
    .word {
        font-size: 0.9rem;
    }
}

@media only screen and (orientation: portrait) and (max-width: 500px) {
    .word {
        font-size: 0.9rem;
    }
}


.red {
    background-color: indianred;
    color: white;
}

.blue {
    background-color: cadetblue;
    color: white;
}

.black {
    background-color: #4c4c4c;
    color: white;
}

.white {
    background-color: #f6f6f6;
    color: #a5a5a5;
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    padding: 0 1rem 0 2rem;
    font-weight: bold;
    font-size: 1rem;
}

.top-banner__container {
    height: 100%;
    display: flex;
    align-items: center;
}

.top-banner__button {
    height: 70%;
    font-size: 16px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 2px;
}

.top-banner__status {
    margin-right: 1rem;
}

.bottom-banner {
    display: grid;
    grid-template-columns: 35% auto 35%;
}

.words-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.words-remaining {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #e3e0e0;
    color: #313131;
}

.transparent {
    opacity: 0.4;
}
