.gameField {
    display: grid;
    height: 100%;
    width: 100vw;
    grid-template-rows: 2.5rem auto 10%;
}

/* Support screen orientation change */
@media screen and (orientation: portrait) {
    .gameField {
        transform: rotate(90deg);
        transform-origin: top left;
        position: absolute;
        left: 100vw;
        height: 100vw;
        width: 100vh;
    }
}

@media only screen and (min-height: 500px) {
    .gameField {
        grid-template-rows: 3rem auto 10%;
    }
}

@media screen and (orientation: portrait) {
    .gameField {
        grid-template-rows: 10% auto 10%;
    }
}
