.game-field {
    display: grid;
    height: 100%;
    width: 100vw;
    grid-template-rows: 2.5rem auto 10%;
}

@media only screen and (min-height: 500px) {
    .game-field {
        grid-template-rows: 3rem auto 10%;
    }
}

/* Support screen orientation change */
@media screen and (orientation: portrait) {
    .game-field {
        grid-template-rows: 10% auto 10%;
        transform: rotate(90deg);
        transform-origin: top left;
        height: 100vw;
        width: 100vh;
        position: absolute;
        left: 100vw;
    }
}

.field {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5% 2.5%;
    margin: 2% 2rem;
    justify-items: center;
}

.word {
    background-color: #e3e0e0;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Reduce font size for smaller screens */
@media only screen and (orientation: landscape) and (max-height: 500px) {
    .word {
        font-size: 0.9rem;
    }
}

@media only screen and (orientation: portrait) and (max-width: 500px) {
    .word {
        font-size: 0.9rem;
    }
}


.red {
    background-color: indianred;
    color: white;
}

.blue {
    background-color: cadetblue;
    color: white;
}

.black {
    background-color: #4c4c4c;
    color: white;
}

.white {
    background-color: #f6f6f6;
    color: #a5a5a5;
}

.top-banner {
    width: 100%;
    color: white;
    padding: 0 2rem;
    font-weight: bold;
    font-size: 1rem;
}

.words-counter {
    display: inline-block;
    width: 35%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
}

.words-remaining {
    display: inline-block;
    width: 30%;
    text-align: center;
    font-size: 1.5rem;
    background-color: #e3e0e0;
    color: #313131;
    height: 100%;
}

.transparent {
    opacity: 0.4;
}
