* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.select-role {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select-role__button {
    height: 3rem;
    width: 8rem;
    border: 1px solid gray;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.select-role__label {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}
