.selectRole {
    position: absolute;
    width: 350px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    padding: 30px;
}

.selectRoleButton:global {
    font-size: 16px;
    height: 2.5rem;
    width: 50%;
    border: 1px solid gray;
    text-transform: uppercase;
    cursor: pointer;
}

.label {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}

.backdrop {
    composes: backdrop from '../../App.module.css';
}
