.backdrop {
    background-color: #282828;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.new-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 350px;
    height: 400px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: white;
}

.new-game__input {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    height: 3rem;
    width: 100%;
    border: 1px solid gray;
    padding: 0 10px;
}

.new-game__label {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.new-game__label-big {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.new-game__button {
    height: 2rem;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
}
