.backdrop {
    background-color: #282828;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.new-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 350px;
    height: 450px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.new-game__input {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    height: 3rem;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
    margin: 0 5px;
    padding: 0 5px;
}
