.new-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 80%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: white;
}

/* Support screen orientation change */
@media screen and (orientation: portrait) {
    .new-game {
        width: 90%;
        height: 50%;
    }
}

.new-game__input {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 2.5rem;
    width: 100%;
    border: 1px solid gray;
    padding: 0 10px;
}

.new-game__label {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.new-game__label-big {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.new-game__button {
    height: 2rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 15px;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
